 * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #ffffff;
      overflow: auto; /* Permite rolagem quando necessário */
      font-family: 'Inter', sans-serif; /* Define a fonte para o corpo todo */
    
    }

    .header {
      font-size: 24px;
      font-weight: bold;
      color: white;
      background-color: #723ed9;
      padding: 15px 0;
      border-radius: 0 0 20px 20px;
      width: 100%;
      text-align: center;
      height: 80px;
      
      
    }

    .search-bar {
      margin-top: 10px;
      position: relative;
      width: 100%;
      display: flex;
      justify-content: center;
      
      
    }

    .search-bar input {
      width: 85%;
      padding: 10px;
      border-radius: 20px;
      border: none;
      outline: none;
      font-size: 14px;
      background-color: #beb8b83b;
      
    }

    .search-bar i {
      position: absolute;
      right: 10%;
      top: 50%;
      transform: translateY(-50%);
      color: #666666;
      font-size: 18px;
      
    }
    .botao-link {
      display: inline-block;
      padding: 10px 20px;
      background-color: #723ed9;
      color: white;
      text-align:center;
      text-decoration: none;
      border-radius: 10px;
      font-size: 16px;
      margin-right:80%;
      margin-top: 2%;
      margin-left: 50px;

    }
  
    .botao-link:hover {
      background-color: #723ed996;
     

    }

    .bloco {
      padding: 20px;
      margin: 10px;
      background-color: #beb8b83b;
      border-radius: 10px;
      color: rgb(0, 0, 0); /* Cor do texto */
      display: block;
      width: 90%;
      box-shadow: 5px 5px 9px rgba(0, 0, 0, 0.211); /* Adiciona sombra */
  }
  h5{
    font-weight:lighter;
  }
  h4{
  font-weight:lighter;
  }
  
  .bloco1 {
    background-color: #beb8b83b;
    padding: 10.4px; /* Espaçamento interno */
    text-align: center; /* Centraliza o conteúdo, incluindo a imagem */
    max-width: 260px; /* Largura máxima do bloco */
    margin: 20px auto; /* Centraliza o bloco horizontalmente na página */
    border-radius: 20px;
    margin-left: 10%;
  }
  
  .img {
    max-width: 80%; /* Controla a largura máxima da imagem */
    border-radius: 10%; /* Bordas arredondadas */
    margin: 0 auto; /* Centraliza a imagem */
    display: block; /* Garante que o elemento imagem se comporte como bloco */
    padding: 10px 4px;
  }
  
